.primary-background {
    background-color: #00FF7F;
    padding: 20px;
  }
  
  .button-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .styled-button {
    background-color: #3CB371;
    color: #FFF;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  .styled-button:hover {
    background-color: #2E8B57;
  }
  
  .styled-button:focus {
    outline: none;
  }
  
  .styled-button svg {
    margin-right: 10px;
  }
  